<h1>餐廳後台</h1>

<a href='/admin/restaurants/create'>
  <button type="button" class="btn btn-primary">New Restaurant</button>
</a>

<br />
<br />
<div>
  {{#if user.isAdmin}}
  <a href="/admin/restaurants" style="color: blue;margin-right: 10px;">Restaurants</a>
  {{/if}}
  {{#if user}}
  <a href="/admin/users/" style="color: blue;margin-right: 10px;">Users</a>
  {{/if}}
</div>

<br />
<br />

<table class="table">
  {{#if restaurants}}
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each restaurants}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>
        <button type="button" class="btn btn-link">
          <a href="/admin/restaurants/{{this.id}}">
            Show
          </a>
        </button>
        <button type="button" class="btn btn-link">
          <a href="/admin/restaurants/{{this.id}}/edit">
            Edit
          </a>
        </button>
        <form action="/admin/restaurants/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link">Delete</button>
        </form>
      </td>
    </tr>
    {{/each}}
    {{/if}}

    {{#if users}}
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col">#</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      <td>
        {{#if this.isAdmin}}
        Admin
        {{else}}
        User
        {{/if}}
      </td>
      <td>
        <button type="button" class="btn btn-link">
          <form action="/admin/users/{{this.id}}/toggleAdmin?_method=PUT" method="POST">
            <button type="submit" class="btn btn-link">
            {{#if this.isAdmin}}
            Set as user
            {{else}}
            Set as admin
            {{/if}}
            </button>
          </form>
        </button>
      </td>
    </tr>
    {{/each}}
    {{/if}}
  </tbody>
</table>