<div class="row mt-5 bg-white">
  <div class="col-md-4">
    <img class="img-responsive rounded-circle my-3" src="{{user.image}}" style="width: 250px;">
  </div> 
  <div class="col-md-8">
    <h2>{{user.name}}</h2>
    <p>{{user.email}}</p>
    <p><strong>{{Comments.length}}</strong>已評論餐廳</p>
    <p><strong>{{FavoritedRestaurants.length}}</strong>收藏的餐廳</p>
    <p><strong>{{Followings.length}}</strong>followings</p>
    <p><strong>{{Followers.length}}</strong>followers</p>
    {{#ifCond user.id myId}}
    <button type="button" class="btn btn-link">
      <a href="/users/{{user.id}}/edit">
        Edit
      </a>
    </button>
    {{/ifCond}}
  </div> 
</div>
<div class="row">
  <div class="col-md-4 mt-3">
    <h4>{{Comments.length}}已評論餐廳</h4>
    <div class="row">
      {{#each comments}}
      <div class="card mx-3 my-2" style="width: 8rem;">
        <a href="/restaurants/{{this.Restaurant.id}}"><img class="card-img-top" src="{{this.Restaurant.image}}"
            alt="Card image cap"></a>
      </div>
      {{/each}}
    </div>
  </div>
  <div class="col-md-6 mt-3">
    <h4>{{FavoritedRestaurants.length}}收藏的餐廳</h4>
    <div class="row">
    {{#each FavoritedRestaurants}}
      <div class="card mx-3 my-2" style="width: 8rem;">
        <a href="/restaurants/{{this.id}}"><img class="card-img-top" src="{{this.image}}" alt="Card image cap"></a>
        <P class="card-title">{{this.name}}</P>
      </div>
    {{/each}}
  </div>
  </div>
</div>


<div class="row">
  <div class="col-md-4 mt-3">
    <h4>{{user.Followings.length}}位Followings</h4>
    <div class="row">
      {{#each Followings}}
      </a>
      <div class="card mx-3 my-2" style="width: 5rem;">
      <a href="/users/{{this.id}}"><img class="card-img-top" src="{{this.image}}" alt="Card image cap"></a>
      </div>
      {{/each}}
    </div>
  </div>
  
  <div class="col-md-8 mt-3">
    <h4>{{user.Followers.length}}位Followers</h4>
    <div class="row justify-content-center">
      {{#each Followers}}
      <div class="card mx-3 my-2" style="width: 5rem;">
        <a href="/users/{{this.id}}"><img class="card-img-top" src="{{this.image}}" alt="Card image cap"></a>
      </div>
      {{/each}}
    </div>
  </div>
</div>


